.App {
  text-align: center;
  background-color: #030451;
  color: whitesmoke;
  font-family: 'Roboto', sans-serif;
  padding-top: 5vh;
  width: 100%;
  margin: 0;
}


.system-box{
  margin-left: 5vh;
  margin-right: 5vh;
  border: 1px solid white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 1vh;
  height: auto;
}

.decode-box{
  width: 40vh;
  flex-grow: 1;
  border: black;
  height: auto;
  padding-bottom: 10vh;
  margin-top: 11vh;
}


.encode-box{
  width: 40vh;
  flex-grow: 1;
  height: auto;
  padding-bottom: 3vh ;
  layoutOrigin: 0.5 0.5;
}

.run-btn {
  margin: 1vh;
  padding: 1vh;
  margin-bottom: 3vh;
}

.input-box {
  padding: 5vh;
  width:max-content;
}


.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #90E0EF;
  border-right: 16px solid #030451;
  border-bottom: 16px solid #ADE8F4;
  border-left: 16px solid #03044D;
  width: 100px;
  height: 100px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(500deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(500deg); }
}